#data {
  height: 100px;
}
html,
body {
  height: 100%;
  background-image: url("wood.png");
}
h1 {
  color: #000;
}
.wrap {
  height: auto !important;
  margin: 0 auto -120px;
}
#message-scroll {
  overflow: auto;
}
.push,
.footer {
  height: 60px;
}
#messages {
  color: #000;
}
#message-message {
  color: #000;
}
#roll-message {
  color: #000;
}
#roll-message-failure {
  color: #f00;
}
#roll-message-success {
  color: #19800f;
}
#nameLbl {
  background-color: rgba(0,0,0,0);
  color: #000;
  border-style: none;
}
#header {
  position: absolute;
  height: 100px;
  top: 0px;
}
#footer {
  height: 10px;
  position: absolute;
  bottom: 0px;
}
#content {
  position: relative;
  max-height: 300px;
  overflow: auto;
}
